extends layout
block content
    h1= title

    if (toShow == null)
      h2 No instance to delete
    else
        - let shoeid = toShow._id
        - let shoeName = toShow.shoeName
        - let shoePrice = toShow.shoePrice
        - let shoemadein = toShow.shoemadein
        div
        div.row
            div(class='shoeAttr mr-3') shoe ID is:
            div #{shoeid}
        div.row
            div(class='shoeAttr mr-3') shoe shoeName is:
            div #{shoeName}
        div.row
            div(class='shoeAttr mr-3') shoe shoePrice is:
            div #{shoePrice}
        div.row
            div(class='shoeAttr mr-3') shoe shoemadein is:
            div #{shoemadein}