extends layout

block content
  - let shoe = results
  h1= title
  div(class="container-fluid")
  div(class="row m-1")
    each shoes in shoe
      - let destination = `dispatch(\"/shoe/update?id=${shoe._id}\")`
      div(class="row-sm-2", class="m-1") shoe #{shoe.shoeName}(#{shoe.shoePrice}) is #{shoe.shoemadein} 
        button.btn( class="btn-primary ml-1", onclick= destination) Update

  script.
    function dispatch(path){
      window.location.href=path
    }