extends layout

block content
  h1= title
  - let mylab = `dispatch(\"/shoe/create\")`
  p 
    button.btn( class="btn-primary ml-1", onclick= mylab) Create
  p
   - let result = results
    div(class="container-fliud")
        div(class="row")
            each item,ind in result 
                - let destination = `dispatch(\"/shoe/update?id=${item._id}\")`
                - let mylab1  = `dispatch(\"/shoe/delete?id=${item._id}\")`
                - let mylab2  = `dispatch(\"/shoe/detail?id=${item._id}\")`
                div(class="col-sm-2" class="m-1")  
                    h3 shoe  #{item.driver}
                    p Ranking  #{item.ranking}
                    p 
                     button.btn( class="btn-primary ml-1", onclick= destination) Update
                    p
                     button.btn( class="btn-primary ml-1", onclick= mylab1) Delete  
                    p
                     button.btn( class="btn-primary ml-1", onclick= mylab2) Detail
    script. 
        function dispatch(path){
          console.log(path);
          window.location.href=path;
        }